$white: #fff;
$login-body-background: #f3eeee;
$black: #000;
$main-page-container-background: #fafafa;
$product-card-background: #f2f2f2;
$alert-message: red;
$app-buttons: #4591af;
$buy-button-bg: #e4e4e4;
$product-page-disabled: #dadada;
