$white: #fff;
$login-body-background: #f3eeee;
$black: #000;
$main-page-container-background: #fafafa;
$product-card-background: #ffffff;
$alert-message: red;
$app-buttons: #4591af;
$buy-button-bg: #e4e4e4;
$product-page-disabled: #dadada;
$gold: #f70;
$yellow: #ea0;
$go-back-button-background: #D9DDE2;
$rating-not-checked: #ddd;
$internal-server-error-bg: #45413e;
$error-not-found-bg: #454545;
