<div class="row">
  <app-page-header [login]="login"></app-page-header>
</div>

<div class="row">
  <div class="col-xs-1 left"></div>
  <div class="col-xs">
    <div class="row filters-and-search">
      <form class="searchString">
        <mat-form-field class="search-input">
          <input class="search-input" matInput placeholder="Search" [(ngModel)]="searchString" name="searchString">
        </mat-form-field>
      </form>
    </div>

    <div class="row filters-and-search">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filters
              </mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="filtersInput" class="filters-form">
              <div class="row">

                <div class="box">
                  <mat-checkbox formControlName="availabilityFilterControl"
                                color="primary"> Available only
                  </mat-checkbox>
                </div>

                <div class="box">
                  <div class="gender-filter"> Gender
                    <mat-select #genderFilter placeholder="Gender" formControlName="genderFilterControl">
                      <mat-option *ngFor="let gender of genders" [value]="gender">
                        {{gender}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>

                <div class="box">
                  <div class="category-filter"> Category
                    <mat-select #categoryFilter placeholder="Category" formControlName="categoryFilterControl">
                      <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{category.name}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>

                <div class="box">
                  <div class="rating-filter"> Rating
                    <mat-slider
                      class="example-margin"
                      [max]="5"
                      [min]="0"
                      [step]="1"
                      [thumbLabel]="true"
                      [tickInterval]="tickInterval"
                      color="primary"
                      formControlName="ratingFilterControl">
                    </mat-slider>
                  </div>
                </div>

                <div class="box">
                  <div class="price-filter"> Price more than
                    <mat-slider
                      class="example-margin"
                      [max]="1000"
                      [min]="0"
                      [step]="1"
                      [thumbLabel]="true"
                      [tickInterval]="tickInterval"
                      color="primary"
                      formControlName="priceFilterControl">
                    </mat-slider>
                  </div>
                </div>
              </div>
            </form>

            <div class="end-xs">
              <button class="clear-filters-button"
                      mat-button
                      mat-raised-button
                      type="reset"
                      (click)="clearFormControls()">
                Cancel
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="row products" *ngIf="!isLoading">
      <app-product-card class="product-card"
                        *ngFor="let item of (_filteredProducts.value | search: searchString)"
                        [item]="item"
                        [isAdmin]="isAdmin"
                        (remove)="removeProductCard($event)">
      </app-product-card>
    </div>

    <div class="row spinner" *ngIf="isLoading">
      <mat-spinner color="primary"></mat-spinner>
    </div>

  </div>
  <div class="col-xs-1 right"></div>
</div>

<div class="row">
  <footer class="footer">
    <div class="text"> Copyright "Demo Shop", 2018</div>
  </footer>
</div>
