@import '../../styles/colors';
@import '../../styles/fonts';
@import '~flexboxgrid';

.row {
  margin: 0;

  .filters {
    align-items: center;
  }

  .spinner {
    height: 70vh;
    width: 100vw;
    justify-content: center;
    margin-top: 50px;
  }
}

.filters-and-search {
  min-width: fit-content;
  justify-content: center;

  .searchString {
    width: 95%;

    .search-input {
      width: 100%;
    }
  }

  .mat-accordion {
    width: 90%;
  }

  .row {
    justify-content: space-around;

    > * {
      margin: 15px;
    }

    .rating-filter {
      text-align: center;
    }

    .price-filter {
      text-align: center;
    }
  }

  .clear-filters-button {
    background: $app-buttons;
    color: $white;
  }
}

.products {
  justify-content: space-around;

  .product-card {
    //background: $product-card-background;
    font-family: $font-hiragino-sans-gb;
    margin: 20px 5px;
    height: fit-content;
    //min-height: 500px;
    width: 30%;
    min-width: 200px;
    //box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75);
  }
}

.nothing-to-show {
  height: 65vh;
  font-family: $font-hiragino-sans-gb;
  font-size: 30px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .row {
    .product-card {
      width: 300px;
    }
  }

  .left {
    display: none;
  }

  .right {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .row {
    .product-card {
      width: 300px;
    }
  }
}
