@import '../../styles/colors';
@import '../../styles/fonts';

//.wrapper {
//  display: flex;
//  justify-content: space-around;
//  flex-direction: column;
//  min-width: 300px;
//  font-family: $font-hiragino-sans-gb;
//
//  .container {
//    flex: 1 1 auto;
//    padding: 20px;
//    margin: 0;
//    display: flex;
//    justify-content: center;
//    flex-wrap: wrap;
//    background: $main-page-container-background;
//    width: 80vw;
//    align-self: center;
//    height: 90vh;
//    min-height: fit-content;
//    border: 1px solid gainsboro;
//
//    .product-card {
//      background: $product-card-background;
//      margin: 20px;
//      height: fit-content;
//      min-height: 550px;
//      width: 25%;
//      min-width: 200px;
//      box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75);
//    }
//
//    .dropdown-wrapper {
//      display: flex;
//      flex-direction: column;
//      width: 100%;
//

mat-grid-list {
  height: 100vh;

  mat-grid-list {
    height: 100vh;
  }
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .filters-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      margin: 20px;
      width: 150px;
    }
  }

  .filter-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    > * {
      background: $app-buttons;
      color: $white;
      margin: 25px;
      font-size: 14px;
      border: none;
      cursor: pointer;
    }
  }

  .filters-accordion {
    width: 70%;
  }
}

//}
//}
//}
.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: $font-hiragino-sans-gb;

  .product-card {
    background: $product-card-background;
    margin: 20px;
    height: fit-content;
    min-height: 550px;
    width: 25%;
    min-width: 200px;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75);
  }
}

.footer {
  display: flex;
  align-content: center;
  order: 1;
  width: 100vw;
  padding: 20px 0;
  background: $black;
  color: $white;
  margin: 0;

  .text {
    margin: 0 20px;
  }
}

