@import '../../styles/colors';
@import '../../styles/fonts';
@import '~flexboxgrid';
//@import '~hammerjs';

.row {
  margin: 0;

  .filters {
    align-items: center;
  }

  .spinner {
    height: 70vh;
    width: 100vw;
    justify-content: center;
    margin-top: 50px;
  }
}

.filters-and-search {
  min-width: fit-content;
  justify-content: center;

  .searchString {
    width: 90%;

    .search-input {
      width: 100%;
    }
  }

  .mat-accordion {
    width: 90%;
  }

  .row {
    justify-content: space-around;

    > * {
      margin: 20px;
    }

    .rating-filter {
      text-align: center;
    }

    .price-filter {
      text-align: center;
    }
  }

  .clear-filters-button {
    background: $app-buttons;
    color: $white;
  }

  .gender {
    width: 80px;
  }

  .category {
    width: 150px;
  }

}

.products {
  justify-content: space-around;

  .product-card {
    background: $product-card-background;
    font-family: $font-hiragino-sans-gb;
    margin: 20px 10px;
    height: fit-content;
    min-height: 500px;
    width: 25%;
    min-width: 200px;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75);
  }
}

.footer {
  display: flex;
  align-content: center;
  order: 1;
  width: 100vw;
  padding: 20px 0;
  background: $black;
  color: $white;
  margin: 0;

  .text {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 800px) {
  .row {
    .product-card {
      width: 300px;
    }
  }

  .left {
    display: none;
  }

  .right {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .row {
    .product-card {
      width: 300px;
    }
  }
}
