<div class="row">
  <div class="col-xs-1 left"></div>
  <div class="col-xs">
    <div class="row filters-and-search">
      <form class="searchString">
        <mat-form-field class="search-input">
          <input class="search-input"
                 matInput placeholder="Search"
                 [(ngModel)]="searchString"
                 name="searchString">
        </mat-form-field>
      </form>
    </div>

    <div class="row filters-and-search">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filters
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form [formGroup]="filtersForm" class="filters-form">
            <div class="row filters">

              <div class="box">
                <mat-checkbox [formControlName]="FILTER_FORM_CONTROLS.AVAILABILITY_FILTER"
                              color="primary"> Available only
                </mat-checkbox>
              </div>

              <div class="box gender">
                <mat-form-field>
                  <mat-select #genderFilter
                              placeholder="Gender"
                              [formControlName]="FILTER_FORM_CONTROLS.GENDER_FILTER">
                    <mat-option *ngFor="let gender of genders" [value]="gender.name">
                      {{gender.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="box category">
                <mat-form-field>
                  <mat-select
                    #categoryFilter
                    placeholder="Category"
                    [formControlName]="FILTER_FORM_CONTROLS.CATEGORY_FILTER">
                    <mat-option
                      *ngFor="let category of categories"
                      [value]="category.id">
                      {{category.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="box rating">
                <div class="rating-filter">
                  Rating
                  <div class="box">
                    From 0
                    <mat-slider
                      class="example-margin"
                      [max]="5"
                      [min]="0"
                      [step]="1"
                      [thumbLabel]="true"
                      [tickInterval]="tickInterval"
                      color="primary"
                      [formControlName]="FILTER_FORM_CONTROLS.RATING_FILTER">
                    </mat-slider>
                    To 5
                  </div>
                </div>
              </div>

              <div class="box price">
                <div class="price-filter">
                  Price
                  <div class="box">
                    From {{minPriceValue}}
                    <mat-slider
                      class="example-margin"
                      [max]="maxPriceValue"
                      [min]="minPriceValue"
                      [step]="1"
                      [thumbLabel]="true"
                      [tickInterval]="tickInterval"
                      color="primary"
                      [formControlName]="FILTER_FORM_CONTROLS.PRICE_FILTER">
                    </mat-slider>
                    To {{maxPriceValue}}
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="end-xs">
            <button class="clear-filters-button"
                    mat-button
                    mat-raised-button
                    type="reset"
                    (click)="clearFormControls()">
              Reset
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="row products" *ngIf="!isLoading">
      <app-product-card class="product-card"
                        *ngFor="let item of (filteredProducts$.value | search: searchString)"
                        [item]="item"
                        [isAdmin]="isAdmin"
                        (remove)="removeProductCard($event)">
      </app-product-card>
    </div>

    <div class="row center-xs middle-xs nothing-to-show"
         *ngIf="!isLoading && (filteredProducts$.value.length === 0)
         || !isLoading && (filteredProducts$.value | search: searchString).length === 0">
      Sorry, there is nothing to show.
    </div>

    <div class="row spinner" *ngIf="isLoading">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </div>
  <div class="col-xs-1 right"></div>
</div>
