@import '~flexboxgrid';
@import '../../../styles/colors';
@import '../../../styles/fonts';

:host {
  .back-to-main-page {
    padding: 20px;
    cursor: pointer;
    display: flex;

    a {
      align-items: flex-start;
      display: flex;
    }

    &:hover {
      background: $go-back-button-background;
    }

    .arrow-left-icon {
      color: $app-buttons;
    }
  }

  .product-edit-button {
    background: $app-buttons;
    color: $white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-self: flex-end;

    &:disabled {
      background: $product-page-disabled;
      cursor: not-allowed;
    }
  }

  .main-row {
    width: 100vw;

    .spinner {
      height: 70vh;
      width: 100vw;
      justify-content: center;
      margin-top: 50px;
    }
  }

  .row {
    font-family: $font-hiragino-sans-gb;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
    }

    .item-name-input {
      width: 60%;
    }

    .product-rating {
      .rating {
        float: left;
        border: none;
      }

      .rating:not(:checked) > input {
        position: absolute;
        top: -9999px;
        clip: rect(0, 0, 0, 0);
      }

      .rating:not(:checked) > label {
        float: right;
        width: 1em;
        padding: 0.1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 200%;
        line-height: 1.2;
        color: $rating-not-checked;
      }

      .rating:not(:checked) > label:before {
        content: '★ ';
      }

      .rating > input:checked ~ label {
        color: $gold;
      }

      .rating:not(:checked) > label:hover,
      .rating:not(:checked) > label:hover ~ label {
        color: $yellow;
      }

      .rating > input:checked ~ label:hover,
      .rating > input:checked ~ label:hover ~ label,
      .rating > label:hover ~ input:checked ~ label {
        color: $yellow;
      }
    }

    .description {
      .mat-form-field {
        width: 100%;
        min-height: fit-content;
      }
    }

    .alert-danger {
      padding: 0 20px 20px 20px;
      color: $alert-message;
    }
  }

  .box {
    margin: 0 20px;
  }

  .product-full-page-footer {
    margin: 20px;

    .buy-product-button {
      background: $app-buttons;
      color: white;
      font-size: 20px;
      border: none;
      cursor: pointer;
      width: 300px;
      margin: 10px;

      &:disabled {
        background: $product-page-disabled;
        cursor: not-allowed;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .back-to-main-page {
    max-width: 200px;
    height: 50px;
  }

  .picture-and-description {
    display: flex;
    flex-direction: column;

    .product-info-pic {
      width: 90vw;
    }

    .row {
      justify-content: center;

      .form-field {
        width: 200px;
      }
    }
  }

  .buy-product-button {
    margin: 5px;
  }

  .right {
    display: none;
  }
}
