@import '../../styles/colors';
@import '../../styles/fonts';

.login-page-wrapper {
  background: $login-body-background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: fit-content;
  font-family: $font-hiragino-sans-gb;
  box-shadow: -2px 12px 50px -3px rgba(128,126,128,1);

  .login-logo {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .login-page {
      flex-direction: column;
      width: 400px;
      height: 300px;
      min-height: fit-content;
      min-width: fit-content;
      background: $login-body-background;

      .login-page-inputs {
        height: fit-content;
        display: flex;

        label{
          padding: 0 20px;
        }

        .input-and-icon-row {
          align-items: center;
          flex-direction: row;
          padding: 0 20px;
          width: 90%;

          .input-element{
            width: 90%;

            mat-form-field {
              width: 100%;
            }
          }

          mat-icon {
            padding-right: 8px;
          }
        }

        .alert-danger {
          padding: 0 20px 20px 20px;
          color: $alert-message;
        }
      }

      .login-submit-button{
        height: 20%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        margin-top: 10px;

        button {
          right: 20px;
        }
      }
   }
}
