<div class="login-page-wrapper">
  <div class="login-page-wrapper login-page">
    <div class="login-logo">
      Login to "Demo Shop"
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

<!--TODO: add flexboxgrid to this layout-->

      <div class="login-page login-page-inputs form-group"
           [ngClass]="{ 'has-error': submitted && getFormControls.login.errors }">
        <div class="login-page-inputs input-and-icon-row">
          <mat-icon>person</mat-icon>
          <div class="input-element">
            <mat-form-field>
              <input id="loginInput"
                     matInput
                     name="loginInput"
                     type="text"
                     class="form-control"
                     placeholder="Login"
                     formControlName="loginInput">
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="loginInput.invalid && (loginInput.dirty || loginInput.touched)"
             class="alert alert-danger">
          <div *ngIf="loginInput.errors.required">
            Login is required.
          </div>
          <div *ngIf="loginInput.errors.minlength">
            Login must be at least 3 characters long.
          </div>
          <div *ngIf="loginInput.errors?.pattern">
            Login must include only english letters.
          </div>
        </div>

        <div class="login-page-inputs input-and-icon-row">
          <mat-icon>lock</mat-icon>
          <div class="input-element">
            <mat-form-field>
            <input id="passwordInput"
                   matInput
                   name="passwordInput"
                   type="password"
                   class="form-control"
                   placeholder="Password"
                   formControlName="passwordInput">
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
             class="alert alert-danger">

          <div *ngIf="passwordInput.errors.required">
            Password is required.
          </div>
          <div *ngIf="passwordInput.errors.minlength">
            Password must be at least 3 characters long.
          </div>
          <div *ngIf="passwordInput.errors?.pattern">
            Password must include only english letters.
          </div>
          <div *ngIf="wrongPassword">
            Wrong password
          </div>
        </div>


      </div>

      <div class="login-page login-submit-button">
        <button type="submit"
                mat-button mat-raised-button
                color="primary"
                class="btn btn-primary login-button"
                [disabled]="loginForm.invalid"> Login
        </button>
      </div>

    </form>
  </div>
</div>
