<div #modalWindow class="modal-layout" *ngIf="isOpened">
  <div class="modal-window">
    <div class="modal-window-wrapper">
      <div class="modal-window-text">
        <div class="confirm" *ngIf="item.count > 0">
          Please, confirm that you want to buy {{item.name}}.
          There is {{item.count}} of {{item.name}} left in stock.
        </div>
        <div class="confirm" *ngIf="item.count < 1">
          Sorry, we ran out of stock for {{item.name}}.
        </div>
      </div>
      <div class="buttons">
        <button type="button" class="close-modal-button" (click)="closeModal()"> Close</button>
      </div>
    </div>
  </div>
</div>
