@import '../../styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 15px;
  margin: 0;
  justify-content: space-between;

  .product-top-part-wrapper {

    .product-image {
      width: 100%;
    }

    .product-information {
      display: flex;
      width: 100%;
      flex-direction: column;

      .product-title {
        font-weight: bold;
        margin: 5px;
      }

      .product-description {
        text-align: justify;
      }
    }
  }

  .product-card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    min-width: fit-content;

    .product-card-user-buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 10px;
    }

    .product-details-button {
      background: $app-buttons;
      color: white;
      font-size: 14px;
      border: none;
      cursor: pointer;
    }
  }
}
