<div class="wrapper">
  <div class="product-top-part-wrapper">
    <div class="product-img-and-rating">
      <img src="{{item.image}}" class="product-image">
      <div class="product-rating">
        <mat-icon color="primary" *ngFor="let i of range">star</mat-icon>
        <mat-icon color="primary" *ngFor="let i of emptyRange">star_border</mat-icon>
      </div>
    </div>

    <div class="product-information">
      <div class="product-title">
        {{item.name}}
      </div>
      <div class="product-description">
        {{item.description}}
      </div>
    </div>
  </div>

  <div class="product-card-buttons">
    <div>
      <button class="btn btn-primary product-details-button"
              mat-button
              mat-raised-button
              color="primary"
              *ngIf="isAdmin"
              (click)="deleteProduct()">
        Delete
      </button>
    </div>
    <div>
      <p class="product-price"> {{item.cost | currency}} </p>
      <button class="btn btn-primary product-details-button"
              mat-button
              mat-raised-button
              color="accent"
              routerLink="[/product, item.id]"
              (click)="goToProductPage()">
        Details
      </button>
    </div>
  </div>
</div>
