<div class="product-full-page">
  <app-page-header [login]="login"></app-page-header>
  <div class="container">

    <div class="product-full-page-top-part">
      <div class="product-full-page-top-left">

        <div class="product-picture">
          <img src="{{item.image}}">
        </div>
        <div class="product-rating">
          <mat-icon color="primary" *ngFor="let i of range">star</mat-icon>
          <mat-icon color="primary" *ngFor="let i of emptyRange">star_border</mat-icon>
        </div>

        <div class="product-price-gender-category">
          <div class="item-cost"> {{item.cost | currency}}</div>
          <div class="item-gender"> {{item.gender}}</div>
          <div class="item-count"> {{item.count | number}} pieces is left in stock.</div>
          <div class="item-category"> {{categoryName}}</div>
        </div>
      </div>
      <div class="product-description">
        <div class="product-description-title">
          <button class="btn btn-primary product-edit-button"
                  mat-button mat-raised-button
                  color="primary"
                  *ngIf="isAdmin"
                  routerLink="['/product, item.id, /edit']"
                  (click)="goToEditProductsPage()">
            Edit
          </button>
          {{item.name}}
        </div>
        {{item.description}}
      </div>
    </div>

    <div class="product-full-page-footer">
      <button #buyButton
              type="submit"
              class="buy-product-button"
              (click)="showModal()"
              [disabled]="item.count < 1">
        Buy
      </button>
    </div>
  </div>
  <footer class="footer">
    <div class="text"> Copyright "Demo Shop", 2018</div>
  </footer>
</div>
