<div class="product-full-page">
  <app-page-header></app-page-header>
  <div class="container">

    <div class="product-full-page-top-part">
      <div class="product-full-page-top-left">

        <div class="product-picture">
          <img src="{{product.image}}">
        </div>
        <div class="product-rating">

          <!--TODO: ngFor-->
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
          <mat-icon color="primary">star</mat-icon>
        </div>

        <div class="product-price-gender-category">
          <div> $ {{product.cost}} </div>
          <div> {{product.gender}} </div>
          <div> {{product.category}} </div>
        </div>
      </div>
      <div class="product-description">
        <div>
          {{product.name}}
        </div>
        {{product.description}}
      </div>
    </div>

    <div class="product-full-page-footer">
      <button #buyButton type="submit" class="buy-product-button" (click)="showModal()">
        Buy
      </button>
    </div>
  </div>
  <footer class="footer">
    <div class="text"> Copyright "Demo Shop", 2018</div>
  </footer>
</div>

<div class="modal-layout" *ngIf="isInitialised">
  <div class="modal-window">
    <div class="modal-window-wrapper" *ngIf="!isConfirmed">
      <div class="modal-window-text">
        <div class="confirm" *ngIf="product.count > 1">
          Please, confirm that you want to buy {{product.name}}.
        </div>
        <div class="confirm" *ngIf="product.count < 1">
          Sorry, we ran out of stock for {{product.name}}.
        </div>
      </div>
      <div class="buttons">
        <button type="button" (click)="confirm()" *ngIf="product.count > 1"> Confirm</button>
        <button type="button" (click)="closeModal()"> Close</button>
      </div>
    </div>

    <div class="modal-window-wrapper" *ngIf="isConfirmed">
      <div class="modal-window-text">
        <div class="confirm">
          Thank you for buying {{product.name}}.
        </div>
      </div>
      <div class="buttons">
        <button type="button" (click)="closeModal()"> Close</button>
      </div>
    </div>

  </div>
</div>
