<div class="wrapper">
  <header class="header">
    <div class="header-logo">
      <mat-icon>shopping_cart</mat-icon>
    </div>
    <div class="user-info">
      Hello, user :)
    </div>
  </header>

  <div class="container">
    <!--TODO: ngFor-->
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
    <app-product-card class="product-card"></app-product-card>
  </div>

  <footer class="footer">
    <div class="text"> Copyright "Demo Shop", 2017</div>
  </footer>
</div>
