@import '../../styles/colors';

.header {
  flex-shrink: 0;
  padding: 20px 0;
  background: $black;
  color: $white;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  width: 100vw;

  .header-logo {
    padding-left: 20px;
  }

  .user-info {
    padding-right: 20px;

    .logout-button {
      background: none;
      color: $white;
      cursor: pointer;
      font-size: 15px;
    }
  }

  .header-anchor {
    color: $white;
    text-underline: none;
  }
}
