@import '../../../styles/colors';
@import '../../../styles/fonts';

.product-full-page {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-width: 300px;
  font-family: $font-hiragino-sans-gb;

  .container {
    flex: 1 1 auto;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: $main-page-container-background;
    width: 80vw;
    align-self: center;
    height: 90vh;
    min-height: fit-content;
    flex-direction: column;

    .product-edit-button {
      display: flex;
      align-self: flex-end;
      justify-content: center;
      margin: 40px 40px 0 0;
    }

    .product-full-page-top-part {
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
      display: flex;
      margin: 30px 50px;

      .product-description {
        margin: 0 25px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        width: 90%;

        .product-description-title {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin: 10px;
          font-size: 20px;
          font-weight: bold;

          .item-name-input {
            width: 100%;
          }

          .product-edit-button {
            background: $app-buttons;
            color: white;
            font-size: 15px;
            border: none;
            cursor: pointer;
            width: 100px;
            margin: 10px;

            &:disabled {
              background: $product-page-disabled;
              cursor: not-allowed;
            }
          }
        }
      }

      .product-full-page-top-left {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        .product-price-gender-category {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 20px;

          .form-field {
            width: 30%;
          }
        }
      }
    }

    .product-full-page-footer {
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .buy-product-button {
        background: $app-buttons;
        color: white;
        font-size: 20px;
        border: none;
        cursor: pointer;
        width: 300px;
        margin: 10px;

        &:disabled {
          background: $product-page-disabled;
          cursor: not-allowed;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-content: center;
    order: 1;
    width: 100vw;
    padding: 20px 0;
    background: $black;
    color: $white;

    .text {
      padding: 0 20px;
    }
  }
}

