<div class="product-full-page">
  <app-page-header [login]="login"></app-page-header>
  <div class="container">

    <button class="product-edit-button"
            mat-button mat-raised-button
            color="primary"
            [disabled]="true"
            (click)="goToEditProductsPage($event)">
      Edit
    </button>

    <form [formGroup]="editMainPageForm" (ngSubmit)="onSubmit()">
      <div class="product-full-page-top-part">
        <div class="product-full-page-top-left">

          <div class="product-picture">
            <img src="{{item.image}}">
          </div>

          <div class="product-rating">
              <fieldset class="rating">
                <input type="radio" [name]="inputName" value="5" [checked]="rating===5"/>
                <label title="Rocks!" (click)='onRatingClick(5)'>5 stars</label>

                <input type="radio" [name]="inputName" value="4" [checked]="rating===4"/>
                <label title="Pretty good" (click)='onRatingClick(4)'>4 stars</label>

                <input type="radio" [name]="inputName" value="3" [checked]="rating===3"/>
                <label title="Meh" (click)='onRatingClick(3)'>3 stars</label>

                <input type="radio" [name]="inputName" value="2" [checked]="rating===2"/>
                <label title="Kinda bad" (click)='onRatingClick(2)'>2 stars</label>

                <input type="radio" [name]="inputName" value="1" [checked]="rating===1"/>
                <label title="Sucks big time" (click)='onRatingClick(1)'>1 star</label>
              </fieldset>
          </div>

          <div class="product-price-gender-category">
            <div class="item-cost-column">
              <mat-form-field class="form-field item-name-input">
                <input id="itemCostInput"
                       matInput
                       name="itemCostInput"
                       type="text"
                       class="form-control"
                       pattern="[0-9]*"
                       value="{{item.cost}}"
                       placeholder="{{item.cost | currency}}"
                       formControlName="itemCostInput">
              </mat-form-field>

              <div *ngIf="itemCostInput.invalid && (itemCostInput.dirty || itemCostInput.touched)"
                   class="alert alert-danger">
                <div *ngIf="itemCostInput.errors.required">
                  Item cost is required.
                </div>
                <div *ngIf="itemCostInput.errors?.pattern">
                  Item cost should be numeric.
                </div>
              </div>
            </div>

            <mat-form-field class="form-field">
              <mat-select placeholder="Gender"
                          formControlName="genderSelect">
                <mat-option *ngFor="let gender of genders" [value]="gender.name">
                  {{gender.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-field">
              <mat-select placeholder="Category"
                          formControlName="categorySelect">
                <mat-option *ngFor="let category of categories"
                            [value]="category.name">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div> {{item.category}}</div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description-title">
            <mat-form-field class="item-name-input">
              <input id="itemNameInput"
                     matInput
                     name="itemNameInput"
                     type="text"
                     class="form-control"
                     value="{{item.name}}"
                     placeholder="{{item.name}}"
                     formControlName="itemNameInput">
            </mat-form-field>
          </div>
          <div *ngIf="itemNameInput.invalid && (itemNameInput.dirty || itemNameInput.touched)"
               class="alert alert-danger">
            <div *ngIf="itemNameInput.errors.required">
              Product name is required.
            </div>
            <div *ngIf="itemNameInput.errors?.pattern">
              Product name should contain only English language.
            </div>
          </div>
          <mat-form-field>
            <textarea id="descriptionInput"
                      matInput
                      rows="5"
                      name="descriptionInput"
                      type="text"
                      class="form-control"
                      placeholder="{{item.description}}"
                      value="{{item.description}}"
                      formControlName="descriptionInput">
            </textarea>
          </mat-form-field>
          <div *ngIf="descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched)"
               class="alert alert-danger">
            <div *ngIf="descriptionInput.errors.required">
              Description is required.
            </div>
            <div *ngIf="descriptionInput.errors?.pattern">
              Descripion should contain only English language.
            </div>
          </div>
        </div>
      </div>
      <div class="product-full-page-footer">
        <button #buyButton
                type="submit"
                mat-button mat-raised-button
                class="buy-product-button"
                [disabled]="editMainPageForm.invalid">
          Save
        </button>
        <button #buyButton
                type="reset"
                mat-button mat-raised-button
                class="buy-product-button"
                (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
  <footer class="footer">
    <div class="text"> Copyright "Demo Shop", 2018</div>
  </footer>
</div>
