<div class="row">
  <div class="row">
    <app-page-header [login]="login"></app-page-header>
  </div>

  <div class="row main-row">
    <div class="col-xs-1 back-to-main-page">
      <a class="navigate-back-button" (click)="goToMainPage()">
        <mat-icon class="arrow-left-icon">keyboard_arrow_left</mat-icon>
        <label>Back</label>
      </a>
    </div>

    <div class="col-xs">
      <div class="row end-xs">
        <button class="product-edit-button"
                mat-button mat-raised-button
                color="primary"
                [disabled]="true"
                (click)="goToEditProductsPage($event)">
          Edit
        </button>
      </div>

      <form [formGroup]="editMainPageForm" (ngSubmit)="onSubmit()">
        <div class="row center-xs">
          <mat-form-field class="item-name-input">
            <input id="itemNameInput"
                   matInput
                   name="itemNameInput"
                   type="text"
                   class="form-control"
                   placeholder="Product name: "
                   formControlName="itemNameInput">
          </mat-form-field>
        </div>

        <div class="row center-xs">
          <div *ngIf="itemNameInput.invalid && (itemNameInput.dirty || itemNameInput.touched)"
               class="alert alert-danger">
            <div *ngIf="itemNameInput.errors.required">
              Product name is required.
            </div>
            <div *ngIf="itemNameInput.errors?.pattern">
              Product name should contain only English language.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs picture-and-description">
            <div class="row">
              <img src="{{item.image}}">
            </div>

            <div class="row product-rating center-xs">
              <fieldset class="rating">
                <input type="radio" [name]="inputName" value="5" [checked]="rating===5"/>
                <label title="Rocks!" (click)='onRatingClick(5)'>5 stars</label>

                <input type="radio" [name]="inputName" value="4" [checked]="rating===4"/>
                <label title="Pretty good" (click)='onRatingClick(4)'>4 stars</label>

                <input type="radio" [name]="inputName" value="3" [checked]="rating===3"/>
                <label title="Meh" (click)='onRatingClick(3)'>3 stars</label>

                <input type="radio" [name]="inputName" value="2" [checked]="rating===2"/>
                <label title="Kinda bad" (click)='onRatingClick(2)'>2 stars</label>

                <input type="radio" [name]="inputName" value="1" [checked]="rating===1"/>
                <label title="Sucks big time" (click)='onRatingClick(1)'>1 star</label>
              </fieldset>
            </div>

            <div class="row">
              <div class="row box">
                <mat-form-field class="form-field item-name-input">
                  <input id="itemCostInput"
                         matInput
                         name="itemCostInput"
                         type="text"
                         class="form-control"
                         pattern="[0-9]*"
                         value="{{item.cost | currency}}"
                         placeholder="Price: "
                         formControlName="itemCostInput">
                </mat-form-field>
              </div>

              <div class="row">
                <div *ngIf="itemCostInput.invalid && (itemCostInput.dirty || itemCostInput.touched)"
                     class="alert alert-danger">
                  <div *ngIf="itemCostInput.errors.required">
                    Item cost is required.
                  </div>
                  <div *ngIf="itemCostInput.errors?.pattern">
                    Item cost should be numeric.
                  </div>
                </div>
              </div>

              <div class="box">
                <mat-form-field class="form-field">
                  <mat-select placeholder="Gender"
                              formControlName="genderSelect">
                    <mat-option *ngFor="let gender of genders" [value]="gender.name">
                      {{gender.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="box">
                <mat-form-field class="form-field">
                  <mat-select placeholder="Category"
                              formControlName="categorySelect">
                    <mat-option *ngFor="let category of categories"
                                [value]="category.name">
                      {{category.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div> {{item.category}}</div>
              </div>
            </div>
          </div>

          <div class="col-xs description">
            <div class="row">
              <mat-form-field>
                <textarea id="descriptionInput"
                          matInput
                          rows="5"
                          name="descriptionInput"
                          type="text"
                          class="form-control"
                          placeholder="Description: "
                          value="{{item.description}}"
                          formControlName="descriptionInput">
                </textarea>
              </mat-form-field>
            </div>

            <div class="row">
              <div *ngIf="descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched)"
                   class="alert alert-danger">
                <div *ngIf="descriptionInput.errors.required">
                  Description is required.
                </div>
                <div *ngIf="descriptionInput.errors?.pattern">
                  Descripion should contain only English language.
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>

      <div class="row center-xs product-full-page-footer">
        <button #buyButton
                type="submit"
                mat-button mat-raised-button
                class="buy-product-button"
                [disabled]="editMainPageForm.invalid" (click)="onSubmit()">
          Save
        </button>
        <button #buyButton
                type="reset"
                mat-button mat-raised-button
                class="buy-product-button"
                (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <app-page-footer></app-page-footer>
  </div>
</div>
