<div class="row">
  <div class="col-xs-1 back-to-main-page">
    <a class="navigate-back-button" (click)="goToMainPage()">
      <mat-icon class="arrow-left-icon">keyboard_arrow_left</mat-icon>
      <label>Back</label>
    </a>
  </div>

  <div class="col-xs">
    <div class="row end-xs">
      <button class="product-edit-button"
              mat-button mat-raised-button
              color="primary"
              *ngIf="isAdmin"
              (click)="goToEditProductsPage()">
        Edit
      </button>
    </div>

    <div class="row item-name center-xs">
      {{item?.name}}
    </div>

    <div class="row picture-and-description">
      <div class="col-xs product-info-pic">
        <div class="row">
          <img class="product-image" src="{{item?.image}}">
        </div>

        <div class="row product-rating">
          <mat-icon color="primary" *ngFor="let range of maxRatingRange; let i = index;">
            {{ i < item?.rating ? 'star' : 'star_border' }}
          </mat-icon>
        </div>

        <div class="row product-info">
          <div class="box">
            <div class="row title"> Price</div>
            <div class="row"> {{item?.cost | currency}}</div>
          </div>
          <div class="box">
            <div class="row title">
              Gender
            </div>
            <div class="row">
              {{item?.gender}}
            </div>
          </div>
          <div class="box">
            <div class="row title">
              Category
            </div>
            <div class="row">
              {{categoryName}}
            </div>
          </div>
          <div class="box"> {{item?.count | number}} pieces is left in stock.</div>
        </div>
      </div>

      <div class="col-xs-6 description">
        {{item?.description}}
      </div>
    </div>

    <div class="row center-xs buy-product-button">
      <button #buyButton
              mat-button mat-raised-button
              type="submit"
              class="product-page-buttons"
              (click)="showModal()"
              [disabled]="item?.count < 1">
        Buy
      </button>
    </div>
  </div>

  <div class="col-xs-1 right"></div>
</div>
